@inherits LayoutComponentBase

<div class="facility-layout-shell d-flex flex-column">
    @* Hlavní pracovní plocha bez sidebaru *@
    <main class="facility-layout-main flex-grow-1 overflow-hidden position-relative">
        @Body
    </main>

    <Radzen.Blazor.RadzenComponents />
</div>
