@inherits LayoutComponentBase

<div class="d-flex flex-column" style="height: 100vh;">
    <FacilityTopbar @rendermode="InteractiveServer" />

    @* Hlavní pracovní plocha bez sidebaru *@
    <main class="flex-grow-1 overflow-hidden position-relative">
        @Body
    </main>

    <Radzen.Blazor.RadzenComponents />
</div>
